main form {
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    border-style: dotted;
    width: 320px;
}
.imgMenu {
    width: 150px;
    height: 150px;
}
.imgFooter {
    width: 70px;
    height: 70px;
}
.imgPortada {
    width: 100%;
}
.imgInfoNutri{
    width: 150px;
    height: 150px;
}
.bgFondo {
    background-color: rgb(172, 194, 85);
}