@charset "UTF-8";
.imgMenu {
  width: 150px;
  height: 150px; }

.imgFooter {
  width: 70px;
  height: 70px; }

.imgPortada {
  width: 100%;
  height: 480px; }

.imgInfoNutri {
  width: 400px;
  height: 300px; }

.imgNosotros {
  width: 100%; }

.imgRecetas {
  overflow: hidden; }
  .imgRecetas img {
    transition: all 1.2s ease-in-out; }
  .imgRecetas :hover img {
    transform: scale(1.2); }
  .imgRecetas--individual {
    width: 600px;
    height: 600px; }

.imgRecetasEspecifico {
  width: 80%;
  margin: auto; }

.vidTamaño {
  width: 600px;
  height: 400px; }

h1, h2, p {
  color: #acc255; }

.bg--fondo {
  background-color: #acc255; }

.bg--green {
  background: #acc255; }

.bg--colorListas {
  color: #acc255; }

div li {
  list-style-type: none; }
  div li a {
    list-style-type: none;
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none !important; }

div a {
  text-decoration: none !important;
  all: unset;
  cursor: pointer; }

div p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: normal;
  text-justify: auto; }

div h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 42px; }
  div h1 p {
    font-size: 25pt; }

.fuenteH2--general {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 30pt; }

.fuenteH2--inicio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 30pt; }

main form {
  margin: 10px 10px 10px 10px; }

div li a {
  padding: 10px; }

.top-buffer {
  margin-top: 20px; }

@media only screen and (max-width: 768px) {
  .imgPortada {
    height: 125px; }
  h1 {
    font-size: 20pt; }
  .fuenteH2--inicio {
    font-size: 12pt; }
  .fuenteFooter {
    font-size: 10pt; }
  .vidTamaño {
    width: auto;
    height: auto; } }

.formatoRecetas, .formatoRecetas--Desayuno, .formatoRecetas--Almuerzo, .formatoRecetas--Merienda, .formatoRecetas--Cena {
  width: 225px;
  height: 40px;
  color: #acc255;
  background-color: white;
  border: 4px groove #acc255;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif; }
  .formatoRecetas--Desayuno {
    color: #f70000; }
  .formatoRecetas--Almuerzo {
    color: #85006e; }
  .formatoRecetas--Merienda {
    color: #00ce0a; }
  .formatoRecetas--Cena {
    color: #df7e00; }
