div {
    li {
        a{
        list-style-type: none;
        font-size: 16pt;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: normal;
        text-justify: auto;
    }
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: larger;
    }
    h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-size: medium;
    }
}