@import "mixings";

.imgMenu {
    @include tamaños(150px, 150px);
}
.imgFooter {
    @include tamaños(70px, 70px);
}
.imgPortada {
    width: 100%;
    height: 300px;
}
.imgInfoNutri {
    @include tamaños(300px, 200px);
}
.imgNosotros {
    width: 100%;
}
.imgRecetas {
    overflow: hidden;
    img{
        transition: all 1.2s ease-in-out;
    }
    :hover img{
            transform: scale(1.2);
     }
}