@import "mixings";

.imgMenu {
    @include tama単os(150px, 150px);
}
.imgFooter {
    @include tama単os(70px, 70px);
}
.imgPortada {
    width: 100%;
    height: 480px;
}
.imgInfoNutri {
    @include tama単os(400px, 300px);
}
.imgNosotros {
    width: 100%;
}
.imgRecetas {
    overflow: hidden;
    img{
        transition: all 1.2s ease-in-out;
    }
    :hover img{
            transform: scale(1.2);
     }
     &--individual{
        @include tama単os(600px,600px);
        
     }
}
.imgRecetasEspecifico {
    width: 80%;
    margin: auto;
}