@import "imagenes";
@import "colores";
@import "fuentes";
@import "mixings";
@import "maps";
@import "cssdegrids";

main form {
    margin: 10px 10px 10px 10px;
}
div {
    li {
        a{
        padding: 10px;
        }
    }
}
 @media only screen and (max-width: 768px){
    .imgPortada{
        height: 125px;
    }
    h1 {
        font-size: 20pt;
    }
    .fuenteH2--inicio{
        font-size: 12pt;
    }
    .fuenteFooter{
        font-size: 10pt;
    }
    .vidTamaño{
        width: auto;
        height: auto;
    }
}
.formatoRecetas {
	@include tamaños(225px, 40px);
    color:  rgb(172, 194, 85);
	background-color:white;
    border: map-get($estilosRecetas, bordes);
    text-align: map-get($estilosRecetas, centro);
    font-size: map-get($estilosRecetas, tamañoFuente);
    font-family: map-get($estilosRecetas, familiaFuente);
    &--Desayuno{
        @extend .formatoRecetas;
        color:rgb(247, 0, 0);
    }
    &--Almuerzo{
        @extend .formatoRecetas;
        color:rgb(133, 0, 110);
    }
    &--Merienda{
        @extend .formatoRecetas;
        color:rgb(0, 206, 10);
    }
    &--Cena{
        @extend .formatoRecetas;
        color:rgb(223, 126, 0);
    }
}